
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .banner1{
    background-image: url("../../assets/Images/Banner/banner1.jpg");
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 100vh;
  }
  .banner2{
    background-image: url('../../assets/Images/Banner/banner2.jpg');
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 100vh;
  }
  .banner3{
    background-image: url("../../assets/Images/Banner/banner3.jpg");
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 100vh;
  }